body {
  margin: 0;
  padding: 2rem 4rem;
  background-color: #000;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

button.selected {
  color: blue;
  border: 1px solid blue;
}

.ScoreBoard {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.ToolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  gap: 1rem;
}

.Divider{
  width: 2px;
  height: 1rem;
  background-color: #555;
}

.info{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.level{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.level div{
  display: flex;
  gap: 5px;
}

.TextDisplay {
  text-align: center;
}

.text {
  text-align: left;
  font-size: 2rem;
  line-height: 1.6;
  overflow-wrap: break-word;
}

.blurred {
  filter: blur(4px);
  color: #666;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.start-btn {
  background: #1e90ff;
  color: white;
  border: none;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.hint {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: white;
}

.correct {
  color: #4caf50; /* green */
}

.incorrect {
  color: #f44336; /* red */
}

.current {
  border-bottom: 2px solid #1e90ff;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.Result{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}

.ResultItem {
  width: 5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  align-items: left;
}

.wpmvalue {
  font-size: 1.5rem;
  font-weight: bold;
}
.accvalue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f44336;
}
.charvalue {
  font-size: 1.5rem;
  font-weight: bold;
}
.charvalue correct {
  color: #4caf50;
}
.charvalue incorrect {
  color: #f44336;
}

p{
  margin: 0;
}
.Confetti {
  position: fixed;
  bottom:-5rem;
  left:0;
  z-index: -1;
}
